<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="verificador">
    <ion-label>Área do Triângulo (Base e Altura)</ion-label>
  </div>

<ion-item>
    <ion-label position="floating">Base:</ion-label>
    <ion-input type="number" [(ngModel)]="base" name="base"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">Altura:</ion-label>
  <ion-input type="number" [(ngModel)]="altura" name="altura"></ion-input>
</ion-item>
<ion-button (click)="calcular()" shape="block" color="warning">Calcular</ion-button>
<p>{{mensagem}}</p>
<p id="resul"><b>{{resultado}}</b></p>

</ion-content>
